{% extends 'base.html' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contato.css') }}">
<div class='container'>
    <div class="social_icon2">
        <ul>
            <li><a href="https://www.linkedin.com/in/engenheiro-juliano-barbosa/" target="_blank" class="gap linkedin"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
            <li><a href="https://www.instagram.com/_juliano_barbosa?igsh=N2V0cnB2ZWFmN3Bu" target="_blank" class="gap instagram"><i class="fab fa-instagram"></i>Instagram</a></li>
            <li><a href="https://wa.me/5514997058577" target="_blank" class="gap whatsapp"><i class="fab fa-whatsapp"></i>WhatsApp</a></li>
        </ul>
    </div>
</div>
{% endblock %}
