{% extends 'base.html' %}
{% block body %}
<section class="wow fadeIn bg-black animated min-height-100vh d-flex align-items-center" style="visibility: visible; animation-name: fadeIn;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="skills-section">
                    <h2 class="text-white mb-4">Habilidades Interpessoais</h2>
                    <div class="skills">
                        <div class="skill">
                            <i class="fas fa-comments"></i>
                            <h3>Comunicação</h3>
                            <p>Excelentes habilidades de comunicação escrita e verbal em equipe e individualmente.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-users"></i>
                            <h3>Trabalho em equipe</h3>
                            <p>Capacidade de colaborar efetivamente com colegas para alcançar objetivos comuns.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-bullhorn"></i>
                            <h3>Apresentação de Pitches</h3>
                            <p>Habilidade em preparar e apresentar pitches eficazes para diversos públicos.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-lightbulb"></i>
                            <h3>Soluções de Problemas</h3>
                            <p>Capacidade de analisar situações complexas e encontrar soluções eficazes.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-cogs"></i>
                            <h3>Metodologia Scrum</h3>
                            <p>Experiência na aplicação de práticas ágeis e gestão de projetos usando Scrum.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-code"></i>
                            <h3>Clean Code</h3>
                            <p>Práticas de programação que promovem a criação de código limpo e manutenível.</p>
                        </div>
                    </div>
                    <h2 class="text-white mt-5 mb-4">Habilidades Técnicas</h2>
                    <div class="skills">
                        <div class="skill">
                            <i class="fab fa-python"></i>
                            <h3>PYTHON</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%;"><span>90%</span></div>
                            </div>
                            <p>Desenvolvimento de scripts, automação e análise de dados usando Python.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-microchip"></i>
                            <h3>IOT</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 95%;"><span>95%</span></div>
                            </div>
                            <p>Desenvolvimento e implementação de soluções IoT utilizando EP32 e Arduino.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-code"></i>
                            <h3>C/C++</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 95%;"><span>95%</span></div>
                            </div>
                            <p>Programação em C/C++ para microcontroladores e sistemas embarcados.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-robot"></i>
                            <h3>RPA</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 93%;"><span>93%</span></div>
                            </div>
                            <p>Automação de processos repetitivos utilizando Robotic Process Automation.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-flask"></i>
                            <h3>FLASK</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 88%;"><span>88%</span></div>
                            </div>
                            <p>Desenvolvimento de aplicações web usando o framework Flask.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-cogs"></i>
                            <h3>DJANGO</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%;"><span>70%</span></div>
                            </div>
                            <p>Desenvolvimento de aplicações web com o framework Django.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-database"></i>
                            <h3>MySQL</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 70%;"><span>70%</span></div>
                            </div>
                            <p>Gestão de bancos de dados e consultas SQL.</p>
                        </div>
                        <div class="skill">
                            <i class="fab fa-bootstrap"></i>
                            <h3>Bootstrap</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%;"><span>80%</span></div>
                            </div>
                            <p>Desenvolvimento de interfaces responsivas com o framework Bootstrap.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-globe"></i>
                            <h3>Web Scraping</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%;"><span>90%</span></div>
                            </div>
                            <p>Extração de dados da web utilizando técnicas de web scraping.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-cloud"></i>
                            <h3>Arduino Cloud</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%;"><span>90%</span></div>
                            </div>
                            <p>Desenvolvimento de soluções IoT com a plataforma Arduino Cloud.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-cloud"></i>
                            <h3>Protocolo OTA</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 85%;"><span>85%</span></div>
                            </div>
                            <p>Implementação de atualizações over-the-air para dispositivos IoT.</p>
                        </div>
                        <div class="skill">
                            <i class="fas fa-cloud"></i>
                            <h3>Protocolo MQTT</h3>
                            <div class="progress">
                                <div class="progress-bar" style="width: 85%;"><span>85%</span></div>
                            </div>
                            <p>Comunicação de dispositivos IoT utilizando o protocolo MQTT.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="experiencia-section">
    <div class="container">
        <h2 class="text-white mb-4">Experiências</h2>
        <p>Como profissional autônomo, especializo-me no desenvolvimento de tecnologias IoT utilizando microcontroladores para controle e visualização em tempo real. Destaco-me pela criação de dashboards para visualização e controle em tempo real, utilizando a linguagem C/C++ e a plataforma Arduino Cloud. Além disso, desenvolvo automações web, RPA e websites utilizando Python, aplicando expertise em web scraping para extração de dados e automação de processos. Possuo também sólidos conhecimentos em design e implementação de hardwares, aplicando princípios de eletrônica e elétrica.</p>
        <p>Durante meu estágio como desenvolvedor de tecnologia, adquiri habilidades significativas na montagem de circuitos eletrônicos utilizando sensores e microcontroladores ESP32 e Arduino, utilizando a IDE Arduino e a linguagem de programação C/C++. Responsável pelo desenvolvimento de códigos para microcontroladores, participei ativamente de reuniões estratégicas, contribuindo com uma comunicação boa e eficaz entre gestores e equipe para encontrar as melhores soluções viáveis. Além disso, conduzi testes de campo dos circuitos montados para coletar dados e validar projetos, garantindo sua funcionalidade e eficiência operacional. Minha experiência também inclui a elaboração de documentação dos processos efetuados e a gestão de projetos, onde pude aplicar meu conhecimento em eletrônica e desenvolvimento de tecnologia para alcançar resultados precisos e inovadores.</p>
        <p>Durante minha graduação em Engenharia da Computação, atuei como Representante Discente, onde fui responsável por mediar a comunicação entre os alunos e a administração da faculdade, organizando reuniões para discutir questões acadêmicas e administrativas. Também representei a Faculdade Galileu em uma reunião com o MEC, contribuindo para que nossa instituição recebesse a nota máxima de 5 em reconhecimento, destacando a qualidade e excelência do nosso curso.</p>
    </div>
</section>

<section class="certificacoes-section">
    <div class="container">
        <h2 class="text-white mb-4">Certificações e Cursos</h2>
        <ul>
            <li>Certificação da Azure AI 900</li>
            <li>Certificado - Java Fundamentals | Oracle</li>
            <li>Ad bdgs da Google Cloud:
                <ul>
                    <li>Build and Secure Networks</li>
                    <li>Perform Foundational Data, ML, and AI Tasks</li>
                    <li>Create and Manage Cloud Resources</li>
                    <li>Perform Foundational Infrastructure Tasks</li>
                </ul>
            </li>
            <li>Cursos no SENAI:
                <ul>
                    <li>AutoCAD | SENAI</li>
                    <li>Desenho Técnico | SENAI</li>
                    <li>Implantação de Serviços de Inteligência em Nuvem - Microsoft AZ-900 | SENAI</li>
                    <li>Implantação de Serviços de Inteligência Artificial em Nuvem - Microsoft AI-900 | SENAI</li>
                    <li>Programação em Python | SENAI</li>
                    <li>Programação Oracle - Java Fundamentals | SENAI</li>
                    <li>SQL Impressionador | SENAI</li>
                    <li>Python Impressionador | SENAI</li>
                </ul>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
