{% extends 'base.html' %}
{% block body %}
<div class='container'>
    <div class="wrapper">
        <div class="content">
            <div class="profile">
                <div class="overlay">
                    <div class="about d-flex flex-column">
                        <h4>Juliano Barbosa</h4>
                        <span>Engenheiro da Computação</span>
                        <ul class="social-icons">
                            <li><a href="https://www.linkedin.com/in/engenheiro-juliano-barbosa/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/_juliano_barbosa?igsh=N2V0cnB2ZWFmN3Bu" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="https://wa.me/5514997058577" target="_blank"><i class="fab fa-whatsapp"></i></a></li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <p>
                    Engenheiro da Computação com 3+ anos de experiência em software e hardware, especializado em IoT e automação de processos. 
                    Experiência comprovada em desenvolvimento de soluções inovadoras, incluindo a vitória no Pidepise com o projeto Food Pet. 
                    Proficiente em Python, C/C++, e gerenciamento de bancos de dados, sempre buscando novas maneiras de enfrentar desafios tecnológicos e promover inovação.               
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
