{% extends 'base.html' %}
{% block head %}
    <!-- Adiciona os links do Lightbox no bloco head -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block body %}
<div class="py-5 service-14">
    <div class="container">
        <!-- Texto Descritivo do Projeto -->
        <div class="mb-4">
            <p class="project-overview">
                Este projeto visa criar uma solução inteligente para o abastecimento automático de água para pets. 
                Desenvolvido com a IDE Arduino 2.0 e o microcontrolador ESP32, o sistema oferece uma plataforma interativa que permite ao cliente monitorar e gerenciar o nível de água do seu pet de maneira eficiente. 
                A integração com a Arduino Cloud possibilita a criação de dashboards personalizados, permitindo a configuração de horários e o monitoramento remoto do abastecimento. 
                Com essa solução, o cliente pode assegurar que seu pet tenha sempre água fresca disponível, sem necessidade de intervenção manual constante.
            </p>
                <div class="spacer"></div>
        </div>

        <div class="row">
            <!-- Image Column 2 -->
            <div class="col-lg-4">
                <div class="mb-4 mb-sm-0">
                    <div class="image-container">
                        <h6 class="font-weight-medium image-title">IDE Utilizada</h6>
                        <a href="{{ url_for('static', filename='imagens/Img2_Projeto2.png') }}" data-lightbox="image-set" data-title="Dashboard do projeto">
                            <img class="rounded img-fluid" src="{{ url_for('static', filename='imagens/Img2_Projeto2.png') }}" alt="Dashboard do projeto" />
                        </a>
                        <div class="spacer1"></div>
                        <p class="project-description">Neste projeto, utilizou-se a IDE Arduino 2.0 para desenvolver a lógica e o código.</p>
                    </div>
                    <div class="mt-3 text-center">
                        <div class="spacer"></div>
                    </div>
                </div>
            </div>
            <!-- Image Column 3 -->
            <div class="col-lg-4">
                <div class="mb-4 mb-sm-0">
                    <div class="image-container">
                        <h6 class="font-weight-medium image-title">Dashboard Botões</h6>
                        <a href="{{ url_for('static', filename='imagens/Img3_Projeto2.png') }}" data-lightbox="image-set" data-title="Nova Imagem 1">
                            <img class="rounded img-fluid" src="{{ url_for('static', filename='imagens/Img3_Projeto2.png') }}" alt="Nova Imagem 1" />
                        </a>
                        <div class="spacer1"></div>
                        <p class="project-description">Botões interativos para selecionar os horários de abastecimento da água.</p>
                    </div>
                    <div class="mt-3 text-center">
                        <div class="spacer"></div>
                    </div>
                </div>
            </div>
            <!-- Image Column 4 -->
            <div class="col-lg-4">
                <div class="mb-4 mb-sm-0">
                    <div class="image-container">
                        <h6 class="font-weight-medium image-title">Dashboard Gráfico</h6>
                        <a href="{{ url_for('static', filename='imagens/Img4_Projeto2.png') }}" data-lightbox="image-set" data-title="Nova Imagem 2">
                            <img class="rounded img-fluid" src="{{ url_for('static', filename='imagens/Img4_Projeto2.png') }}" alt="Nova Imagem 2" />
                        </a>
                        <div class="spacer1"></div>
                        <p class="project-description">Gráfico de monitoramento á distância, 
                            utilizado para verificar o abastecimento do reservatório.</p>
                    </div>
                    <div class="mt-3 text-center">
                        <div class="spacer"></div>
                    </div>
                </div>
            </div>
            <!-- Image Column 5 -->
            <div class="col-lg-4">
                <div class="mb-4 mb-sm-0">
                    <div class="image-container">
                        <h6 class="font-weight-medium image-title">Dashboard Gráfico</h6>
                        <a href="{{ url_for('static', filename='imagens/Img5_Projeto2.png') }}" data-lightbox="image-set" data-title="Nova Imagem 3">
                            <img class="rounded img-fluid" src="{{ url_for('static', filename='imagens/Img5_Projeto2.png') }}" alt="Nova Imagem 3" />
                        </a>
                        <div class="spacer1"></div>
                        <p class="project-description">Gráfico que exibe a variação da temperatura ambiente ao longo do tempo.</p>
                    </div>
                    <div class="mt-3 text-center">
                        <div class="spacer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
