{% extends 'base.html' %}
{% block body %}
<div class="py-3 service-13">
    <div class="container">
        <!-- Row  -->
        <div class="row">
            <!-- Projeto 1 -->
            <div class="col-12 wrap-service13-box mb-4">
                <div class="card card-shadow border-0">
                    <div class="row no-gutters align-items-stretch">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <img src="{{ url_for('static', filename='imagens/Img1_Projeto1.jpg') }}" alt="Img1_Projeto1" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 p-3 d-flex flex-column align-items-stretch product-description">
                            <div class="ml-2 flex-grow-1">
                                <h6 class="font-weight-medium mt-2 text-custom"><a href="{{ url_for('projeto1') }}" class="linking">Monitoramento IoT</a></h6>
                                <p class="mt-3 text-custom">
                                    <span class="d-block">Foi desenvolvido um projeto para monitoramento</span>
                                    <span class="d-block">de vazamento de gás e controle IoT da casa.</span>
                                    <span class="d-block">Este projeto visa proporcionar segurança</span>
                                    <span class="d-block">e praticidade no dia a dia dos usuários</span>
                                    <span class="d-block">permitindo o controle remoto e visualização</span>
                                    <span class="d-block">em tempo real de dispositivos.</span>
                                </p>
                            </div>
                            <div class="text-center mt-auto centered-btn">
                                <a class="btn btn-success-gradiant btn-md border-0 text-white" href="{{ url_for('projeto1') }}"><span>Ver Detalhes</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Projeto 2 -->
            <div class="col-12 wrap-service13-box mb-4">
                <div class="card card-shadow border-0">
                    <div class="row no-gutters align-items-stretch">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <img src="{{ url_for('static', filename='imagens/Img1_Projeto2.jpg') }}" alt="Img1_Projeto2" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 p-3 d-flex flex-column align-items-stretch product-description">
                            <div class="ml-2 flex-grow-1">
                                <h6 class="font-weight-medium mt-2 text-custom"><a href="{{ url_for('projeto2') }}" class="linking">Bebedouro Automático</a></h6>
                                <p class="mt-3 text-custom">
                                    <span class="d-block">Foi desenvolvido um bebedouro automático</span>
                                    <span class="d-block">para pets com monitoramento e controle em tempo real.</span>
                                </p>
                            </div>
                            <div class="text-center mt-auto centered-btn">
                                <a class="btn btn-success-gradiant btn-md border-0 text-white" href="{{ url_for('projeto2') }}"><span>Ver Detalhes</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projeto 3 -->
            <div class="col-12 wrap-service13-box mb-4">
                <div class="card card-shadow border-0">
                    <div class="row no-gutters align-items-stretch">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <img src="{{ url_for('static', filename='imagens/Img1_Projeto3.jpg') }}" alt="Img1_Projeto3" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 p-3 d-flex flex-column align-items-stretch product-description">
                            <div class="ml-2 flex-grow-1">
                                <h6 class="font-weight-medium mt-2 text-custom"><a href="{{ url_for('projeto3') }}" class="linking">Monitoramento Pneumatron em tempo real</a></h6>
                                <p class="mt-3 text-custom">
                                    <span class="d-block">Foi desenvolvido um dispositivo para monitoramento</span>
                                    <span class="d-block">da pressão exercida através de um galho de árvore.</span>                                    
                                </p>
                            </div>
                            <div class="text-center mt-auto centered-btn">
                                <a class="btn btn-success-gradiant btn-md border-0 text-white" href="{{ url_for('projeto3') }}"><span>Ver Detalhes</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projeto 4 -->
            <div class="col-12 wrap-service13-box mb-4">
                <div class="card card-shadow border-0">
                    <div class="row no-gutters align-items-stretch">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <img src="{{ url_for('static', filename='imagens/Img1_Projeto4.jpg') }}" alt="Img1_Projeto4" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 p-3 d-flex flex-column align-items-stretch product-description">
                            <div class="ml-2 flex-grow-1">
                                <h6 class="font-weight-medium mt-2 text-custom"><a href="{{ url_for('projeto4') }}" class="linking">Alimentador automático para pets</a></h6>
                                <p class="mt-3 text-custom">
                                    <span class="d-block">Foi desenvolvido um alimentador automático</span>
                                    <span class="d-block">para pets com monitoramento e controle em</span>
                                    <span class="d-block">tempo real.</span>
                                </p>
                            </div>
                            <div class="text-center mt-auto centered-btn">
                                <a class="btn btn-success-gradiant btn-md border-0 text-white" href="{{ url_for('projeto4') }}"><span>Ver Detalhes</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Projeto 5 -->
            <div class="col-12 wrap-service13-box mb-4">
                <div class="card card-shadow border-0">
                    <div class="row no-gutters align-items-stretch">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <img src="{{ url_for('static', filename='imagens/Img1_Projeto5.jpg') }}" alt="Img1_Projeto5" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 p-3 d-flex flex-column align-items-stretch product-description">
                            <div class="ml-2 flex-grow-1">
                                <h6 class="font-weight-medium mt-2 text-custom"><a href="{{ url_for('projeto5') }}" class="linking">RPA utilizando Python</a></h6>
                                <p class="mt-3 text-custom">
                                    <span class="d-block">Desenvolvi um software de web scraping em Python</span>
                                    <span class="d-block">para automatizar o download de processos do site</span>
                                    <span class="d-block">do TJSP, criado para um cliente advogado.</span>
                                </p>
                            </div>
                            <div class="text-center mt-auto centered-btn">
                                <a class="btn btn-success-gradiant btn-md border-0 text-white" href="{{ url_for('projeto5') }}"><span>Ver Detalhes</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
